@model RoliPjesemarresit

@{
    ViewData["Title"] = "Create";
}

<h1>Shto pjesemarresin</h1>

<h4>Pjesemarresi</h4>
<hr />
<div class="d-flex justify-content-around">
    <div class="">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pjesemarresi.Emri" class="control-label"></label>
                <input asp-for="Pjesemarresi.Emri" class="form-control" />
                <span asp-validation-for="Pjesemarresi.Emri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pjesemarresi.Mbiemri" class="control-label"></label>
                <input asp-for="Pjesemarresi.Mbiemri" class="form-control" />
                <span asp-validation-for="Pjesemarresi.Mbiemri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pjesemarresi.Email" class="control-label"></label>
                <input asp-for="Pjesemarresi.Email" class="form-control" />
                <span asp-validation-for="Pjesemarresi.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pjesemarresi.Perdoruesi" class="control-label"></label>
                <input asp-for="Pjesemarresi.Perdoruesi" class="form-control" />
                <span asp-validation-for="Pjesemarresi.Perdoruesi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pjesemarresi.Fjalekalimi" class="control-label"></label>
                <input asp-for="Pjesemarresi.Fjalekalimi" class="form-control" />
                <span asp-validation-for="Pjesemarresi.Fjalekalimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pjesemarresi.Roli" class="control-label"></label>
                <select  class="form-control" asp-for="RoliId" asp-items="@Model.Rolet"></select>
            </div>
          @*  <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pjesemarresi.IsDeleted" /> @Html.DisplayNameFor(model => model.Pjesemarresi.IsDeleted)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pjesemarresi.IsActive" /> @Html.DisplayNameFor(model => model.Pjesemarresi.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Pjesemarresi.CreatedByUserID" class="control-label"></label>
                <input asp-for="Pjesemarresi.CreatedByUserID" class="form-control" />
                <span asp-validation-for="Pjesemarresi.CreatedByUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pjesemarresi.CreatedOn" class="control-label"></label>
                <input asp-for="Pjesemarresi.CreatedOn" class="form-control" />
                <span asp-validation-for="Pjesemarresi.CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pjesemarresi.LastUpdatedByUserID" class="control-label"></label>
                <input asp-for="Pjesemarresi.LastUpdatedByUserID" class="form-control" />
                <span asp-validation-for="Pjesemarresi.LastUpdatedByUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pjesemarresi.LastUpdatedOn" class="control-label"></label>
                <input asp-for="Pjesemarresi.LastUpdatedOn" class="form-control" />
                <span asp-validation-for="Pjesemarresi.LastUpdatedOn" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
