@model RoliPjesemarresit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pjesemarresi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pjesemarresi.Id" />
            <div class="form-group">
                <label asp-for="Pjesemarresi.Roli" class="control-label"></label>
                <select  class="form-control" asp-for="Pjesemarresi.RoliId" asp-items="@Model.Rolet"></select>
            </div>
            <div class="form-group">
                <label asp-for="Pjesemarresi.Emri" class="control-label"></label>
                <input asp-for="Pjesemarresi.Emri" class="form-control" />
                <span asp-validation-for="Pjesemarresi.Emri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pjesemarresi.Mbiemri" class="control-label"></label>
                <input asp-for="Pjesemarresi.Mbiemri" class="form-control" />
                <span asp-validation-for="Pjesemarresi.Mbiemri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pjesemarresi.Email" class="control-label"></label>
                <input asp-for="Pjesemarresi.Email" class="form-control" />
                <span asp-validation-for="Pjesemarresi.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pjesemarresi.Perdoruesi" class="control-label"></label>
                <input asp-for="Pjesemarresi.Perdoruesi" class="form-control" />
                <span asp-validation-for="Pjesemarresi.Perdoruesi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pjesemarresi.Fjalekalimi" class="control-label"></label>
                <input type="password" asp-for="Pjesemarresi.Fjalekalimi" class="form-control" />
                <span asp-validation-for="Pjesemarresi.Fjalekalimi" class="text-danger"></span>
            </div>
@*            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreatedByUserID" class="control-label"></label>
                <input asp-for="CreatedByUserID" class="form-control" />
                <span asp-validation-for="CreatedByUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdatedByUserID" class="control-label"></label>
                <input asp-for="LastUpdatedByUserID" class="form-control" />
                <span asp-validation-for="LastUpdatedByUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdatedOn" class="control-label"></label>
                <input asp-for="LastUpdatedOn" class="form-control" />
                <span asp-validation-for="LastUpdatedOn" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
