@{
    ViewData["Title"] = "Home Page";
}

<div id="background">
     <div class="container">
        <div class="text-center">
            <h1 class="display-4 text-white text-light" style="padding-top:250px;"><span id="MainHeader">Bibloteka ime</span></h1>
            <p class="text-white text-light"> Ketu mund te gjeni informacionet e kerkuara nga ju, andaj j'u sugjerojme te regjistroheni.
                Ne librarine tone ashtu qe platforma jone do t'ju shfaq te dhenat e kerkuara ne baze te autorit, emrit te librit apo edhe kategoris se librit.</p>

            
                <div class="col-6">
                     <a class="my-3 mx-5 HindexA" asp-controller="Mesazhet" asp-action="Index">Na kontaktoni</a>
                </div>
            </div>
        </div>
    </div>
</div>