<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Menaxhimi_Biblotekes_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
         <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light box-shadow" style="background:#151D3B;">
            <div class="container">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Menaxhimi_Biblotekes_Web</a>
                <button class="navbar-toggler text-light" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 text-light">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Libri" asp-action="Index">Libri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Autori" asp-action="Index">Autoret</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Huazimi" asp-action="Index">Huazimet</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Kategoria" asp-action="Index">Kategorite</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="KerkesatPerHuazim" asp-action="Index">Kerkesat</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Pjesemarresi" asp-action="Index">Pjesemarresit</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Mesazhet" asp-action="Index">Na kontaktoni</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="bg-img" style="height:100vh">
    <div class="container">
        <main role="main" class="text-light">
            @RenderBody()
        </main>
    </div>
    </div>

    <footer class="border-top  footer text-muted" style="background:#151D3B;">
        <div class="container text-light">
            &copy; 2022 - Menaxhimi_Biblotekes_Web - <a asp-area="" asp-controller="Mesazhet" asp-action="Index">Na Kontaktoni</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
