@model Menaxhimi_Biblotekes_Web.Models.AutoriLibri

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AutoriLibri</h4>
<hr />
<div class="d-flex justify-content-around">
    <div class="">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @*<div class="form-group">
                <label asp-for="LibriId" class="control-label"></label>
                <select asp-for="LibriId" class ="form-control" asp-items="ViewBag.LibriId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AutoriId" class="control-label"></label>
                <select asp-for="AutoriId" class ="form-control" asp-items="ViewBag.AutoriId"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="Libri.Titulli" class="control-label"></label>
                <select id="listLibri" asp-for="LibriId" class ="form-control" asp-items="ViewBag.Libri"></select>
            </div>
            <div class="form-group">
                <label asp-for="Autori" class="control-label"></label>
                <select asp-for="AutoriId" class ="form-control" asp-items="ViewBag.Autori"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
